@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700'); 
 
body {
	font-family: 'Montserrat', sans-serif;
	background: #ecf0f1;
}

header {
	text-align: center;
}
header h1 {
	font-size: 64px;
	font-weight: 300;
	margin: 80px 0 25px;
	color: #2c3e50;
}
header h1 span {
	font-weight: 700;
}
header h2 {
	color: #bdc3c7;
	font-weight:300;
}

.form {
	width: 800px;
	margin: 50px auto 20px;
	max-width: 80%;
}

#todoInput {
	width: 100%;
	height: 60px;
	background: none;
	border: none;
	border-bottom: 1px solid #34495e;
	outline: none;
	font: 300 28px 'Ubuntu', sans-serif;
	padding: 20px;
	color: #34495e;
}

.list {
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
}
.task {
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	padding: 0 20px;
	color: #34495e;
	transition: all .3s ease;
}
.task:hover {
	background: rgba(0, 0, 0, .02);
	cursor: pointer;
}

.task:hover span{
	opacity: 1;
}

.done {
	text-decoration: line-through;
	color: #bdc3c7;
}

li span {
  float: right;
  color: #c0392b;
  transition: all 0.3s;
  opacity: 0;
}

li span:hover {
  color: #e74c3c
}

.center {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.8);
}

.task.complete {
	text-decoration: line-through;
}

ul {
	list-style: none;

	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}



.customCheckBox {
	margin-right: 20px;
}